/* Reset some basic styles */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif; 
    font-size: 1rem; /* Base font size (16px) */
    line-height: 1.5; /* Line height for better readability */
    background-color: #222222; /* Dark gray background */
    color: #333; /* Dark gray text color */
    /*padding: 2rem; /* Add some padding to the body */
}

/* Heading styles */
h1 {
    font-size: 2.5rem; /* 40px */
    letter-spacing: -0.1rem;
    color: #dedede; /* Light grey color */
    margin-bottom: 1rem; /* Space below heading */
    margin-top: 0.75rem;
}

h2 {
    font-size: 2rem; /* 32px */
    color: #dedede; /* Light grey color */
    margin-bottom: 0.75rem; /* Space below heading */
}

h3 {
    font-size: 1.5rem; /* 24px */
    color: #dedede; /* Light grey color */
    margin-bottom: 0.5rem; /* Space below heading */
}

/* Paragraph styles */
p {
    font-size: 1rem; /* 16px */
    color: #a8a29e; /* Light grey color */
    margin-bottom: 1rem; /* Space below paragraphs */
}

/* Element/class styles */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr)); /* 4 items per row */
    gap: 1rem;
    max-width: 80vw; /* Optional: control max width if needed */
    margin: 0 auto; /* Optional: center the grid */
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: absolute;
    bottom: 0;
    background-color: #262626;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-top: 0.063rem solid #404040;
}

.footnote {
    display: flex;
    align-items: center;
    color: #a8a29e;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 0.05rem;
    transition: color 0.3s ease;
}
.footnote:hover {
    color: #dedede;
}
.gh {
    width: 1rem;
    padding-right: 0.5rem;
}

/* Button styles */
button {
    background-color: #3498db; /* Blue background */
    color: white; /* White text */
    font-family: 'Inter', sans-serif; /* You can choose any font you prefer */
    font-size: 1rem; /* 16px */
    padding: 0.75rem 1.5rem; /* Vertical and horizontal padding */
    border: none; /* No border */
    border-radius: 0.5rem; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    width: 9rem;
}

/* Button hover effect */
button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Responsive styles */
@media (max-width: 600px) {
    body {
        /* padding: 1rem; /* Reduce padding on smaller screens */
    }

    h1 {
        font-size: 2rem; /* 32px */
    }

    h2 {
        font-size: 1.5rem; /* 24px */
    }

    h3 {
        font-size: 1.25rem; /* 20px */
    }
    .button-container{
	gap: 0.5rem;	
    }
    button {
        font-size: 0.875rem; /* 14px */
        padding: 0.5rem 1rem; /* Adjust padding */
    }
}

