<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>{{ config['ui']['title'] }}</title>
    <script src="../static/controls.js"></script>
</head>

<!--- Body --->
<body class="bg-neutral-900 text-neutral-400 hide-scrollbar">

<!--- Content --->
<main class="p-6">

    <!--- Heading --->
    <h1 class="text-4xl font-bold tracking-tighter text-center text-neutral-200">
	    {{ config['ui']['heading'] }}
    </h1>
    
    <!--- Description --->
    <p id="desc" class="text-center">
	    {{ config['ui']['desc'] }}
    </p>
    
    <!--- Stop Button --->
    <div id="stop-container" class="hidden">
      <button onclick="stopSound()" class="stop-button">
        ■
      </button>
    </div>

    <!--- Show More --->
    <div class="flex lg:w-1/2 md:w-1/2 sm:w-3/4 w-full mx-auto text-center items-center justify-center py-2">
      <div id="line-left" class="h-px bg-neutral-700 grow"></div>
      <div id="show-button-container" onclick="toggleOptions()" class="border border-neutral-800 rounded-full hover:bg-neutral-800 duration-150 ease-in-out">
        <button id="show-button-module" class="block text-sm font-medium text-neutral-200">
            <div class="flex items-center px-3 py-1">
              <p id="show-label">Show More</p>
              <span id="show-chevron" class="px-1 duration-150 block ease-in-out origin-center">
                {{ svg("chevron-down") }}
              </span>
            </div>
        </button>
      </div>
      <div id="line-right" class="h-px bg-neutral-700 grow"></div>
    </div>

    <!--- More Options ---> 
    <div id="more-options" class="hidden">
      <!--- Search Box --->
      <div id="search-container" class="gap-0 flex flex-row content-start w-1/2 block mx-auto text-neutral-200 bg-neutral-800 placeholder:text-neutral-600 text-neutral-400 focus-within:outline-none 
        focus-within:ring-teal-800 active-within:ring focus-within:ring rounded-lg border border-neutral-700 hover:border-neutral-600 hover:focus-within:border-teal-500 focus-within:border-teal-500 lg:w-1/2 md:w-1/2 sm:w-3/4 w-full text-center sm:text-left md:text-left
        lg:text-left mt-2 mx-auto block ease-in-out duration-150 overflow-hidden items-center group">
        <span id="search-icon" class="duration-100 ease-in-out ml-2">
          {{ svg("search") }}
        </span>
        <input id="search-box" type="text" placeholder="Search for a sound" onkeyup="searchSound()" 
        class="bg-neutral-800 placeholder:text-neutral-600 text-neutral-400 focus:outline-none 
        border-neutral-700 rounded-r-none w-full text-center sm:text-left md:text-left
        lg:text-left mx-auto block p-2">
      </div>

      <!--- TTS Input --->
      <div id="tts-container" class="gap-0 flex flex-row content-start w-1/2 block mx-auto text-neutral-200 bg-neutral-800 placeholder:text-neutral-600 text-neutral-400 focus-within:outline-none 
        focus-within:ring-teal-800 active-within:ring focus-within:ring rounded-lg border border-neutral-700 hover:border-neutral-600 hover:focus-within:border-teal-500 focus-within:border-teal-500 lg:w-1/2 md:w-1/2 sm:w-3/4 w-full text-center sm:text-left md:text-left
        lg:text-left mt-2 mx-auto block ease-in-out duration-150 overflow-hidden">
        <input type="text" id="tts-input" onkeyup="enableTTS(event)" placeholder="Say something funny!"
        class="bg-neutral-800 placeholder:text-neutral-600 text-neutral-400 focus:outline-none 
        border-e border-neutral-700 rounded-r-none w-full text-center sm:text-left md:text-left
        lg:text-left mx-auto block p-2
        ">

        <!--- TTS Button --->
        <button id="tts-button" onclick="speakText()" class="font-medium group disabled:bg-neutral-900 bg-teal-600 p-2 hover:bg-teal-700 ease-in-out duration-100 content-center" disabled>
          {{ svg("bot-message-square") }}
        </button>
      </div>
    </div>
    <!--- Message Label --->
    <p id='msg-label' class="text-center text-neutral-500"></p>    

    <!--- Button Container --->
    <div id="button-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 text-neutral-200 mx-auto max-w-7xl py-6">
    	{% for sound in sounds %}
          <button onclick="playSound('{{ sound }}')" class="font-medium rounded-lg bg-teal-600 p-2 hover:bg-teal-700 ease-in-out duration-150">
            {{ sound|title|replace(".mp3", "")|replace("_", " ") }}
          </button>
    	{% endfor %}
    </div>
</main>

<!--- Footer --->
<footer class="fixed bottom-0 flex bg-neutral-900 border-t border-neutral-800  w-full mx-auto text-xs infline-flex items-center justify-center p-3">
  {{ svg("github") }}
  <a href="https://github.com/apesoda/sirenus" class="px-2 hover:text-neutral-300 ease-in-out duration-150">
    Source
  </a>
</footer>
</body>
</html>
