<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>{{ title }}</title>
    <script src="../static/controls.js"></script>
</head>

<!--- Body --->
<body class="bg-neutral-900 text-neutral-400">

<!--- Content --->
<main class="p-6">

    <!--- Heading --->
    <h1 class="text-4xl font-bold tracking-tighter text-center text-neutral-200">
	{{ heading }}
    </h1>
    
    <!--- Description --->
    <p id="desc" class="text-center">
	{{ desc }}
    </p>
    
    <!--- #WIP# --->
    <div id="stop-container" class="hidden">
      <button onclick="stopSound()" class="stop-button">
        ■
      </button>
    </div>

    <!--- Search Box --->
    <input id="search-box" type="text" placeholder="Search for a sound..." onkeyup="searchSound()" 
    class="bg-neutral-800 placeholder:text-neutral-600 text-neutral-400 p-2 focus:outline-none 
    focus:ring-teal-800 focus:ring rounded-lg border border-neutral-700 hover:border-neutral-600 
    focus:border-teal-500 lg:w-1/2 md:w-1/2 sm:w-3/4 w-full text-center sm:text-left md:text-left
    lg:text-left mt-2 mx-auto block ease-in-out duration-150
    ">

    <!--- Message Label --->
    <p id='msg-label' class="text-center text-neutral-500"></p>    

    <!--- Button Container --->
    <div id="button-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 text-neutral-200 mx-auto max-w-7xl py-6">
    	{% for sound in sounds %}
          <button onclick="playSound('{{ sound }}')" class="font-medium rounded-lg bg-teal-600 p-2 hover:bg-teal-700 ease-in-out duration-150">
            {{ sound|title|replace(".mp3", "")|replace("_", " ") }}
          </button>
    	{% endfor %}
    </div>
</main>

<!--- Footer --->
<footer class="fixed bottom-0 flex bg-neutral-900 border-t border-neutral-800  w-full mx-auto text-xs infline-flex items-center justify-center p-3">
  <object data="../static/images/github.svg" height="16"></object>
  <a href="https://github.com/apesoda/sirenus" class="px-2 hover:text-neutral-300 ease-in-out duration-150">
    Source
  </a>
</footer>
</body>
</html>

